<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link th:href="@{/css/bootstrap.min.css}"
        href="../css/bootstrap.min.css" rel="stylesheet">
  <style>
        .container {
            max-width: 560px;
        }
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
</head>
<body>
<div class="container">
  <div class="py-5 text-center">
    <h2>회원가입</h2>
  </div>

  <form action="/signup" th:action th:object="${member}" method="post">
    <div>
      <label for="loginId">회원 ID (email)</label>
      <input type="text" id="loginId" th:field="*{email}" class="form-control">
    </div>

    <div>
      <label for="password">비밀번호</label>
      <input type="password" id="password"  th:field="*{password}" class="form-control">
    </div>

    <div>
      <label for="name">회원 이름 </label>
      <input type="text" id="name" th:field="*{member_name}"  class="form-control">
    </div>

    <div>
      <label for="allias">회원 별명(닉네임) </label>
      <input type="text" id="allias" th:field="*{allias}"  class="form-control">
    </div>

    <div>
      <label for="address">주소</label>
      <input type="text" id="address" th:field="*{address}"  class="form-control">
    </div>

    <div>
      <label for="party">소속</label>
      <input type="text" id="party" th:field="*{party}"  class="form-control">
    </div>

    <div>
      <label name="group" >그룹</label>
      <select th:field="*{group_id}">
        <option th:value="1" >ALL</option>
        <option th:value="2">BASIC</option>
      </select>

    </div>

    <hr class="my-4">
    <div class="row">
      <div class="col">
        <button class="w-100 btn btn-primary btn-lg" type="submit">
          회원가입</button>
      </div>

      <div class="col">
        <button class="w-100 btn btn-secondary btn-lg"
                th:onclick="|location.href='@{/}'|"
                type="button">취소</button>
      </div>

    </div>

  </form>
</div> <!-- /container -->
</body>
</html>