<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <!-- sbb CSS -->
    <!--    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">-->
    <title>Website!</title>
    <style>
        .container {
            max-width: 900px;
        }
    </style>
</head>
<body>
<nav th:replace="~{mysite/admin/common/navbar :: navbarFragment}"></nav>

<div  class="container my-3">
        hello everyone admin member page

        <div class="container-fluid my-3">
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>

        <table class="table">
            <thead>
                <th> 번호 </th>
                <th> email </th>
                <th> 이름 </th>
                <th> 별명 </th>
                <th> 그룹 </th>
            </thead>
            <tbody>

            </tbody>
        </table>
</div>
</body>

</div>
</html>