<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<nav th:replace="~{mysite/admin/common/header :: adminHead}"></nav>
<body>
<nav th:replace="~{mysite/admin/common/navbar :: navbarFragment}"></nav>

<div  class="container my-5">

        <div class="search my-3">

            <form class="d-inline-flex">
                    <select class="m-1">
                        <option value="1" >회원</option>
                        <option value="2">그룹</option>
                        <option value="3" >제한 회원</option>
                    </select>
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>

            </form>

            <button style="float: left"> button</button>

        </div>

        <table class="table">
            <thead>
                <th> 번호 </th>
                <th> email </th>
                <th> 이름 </th>
                <th> 별명 </th>
                <th> 그룹 </th>
            </thead>
            <tbody>

            </tbody>
        </table>
</div>
</body>


</html>