<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <!-- sbb CSS -->
    <!--    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">-->
    <title>Website!</title>
    <style>
        .container {
            max-width: 560px;
        }
    </style>
</head>
<body>
<nav th:replace="~{mysite/admin/common/navbar :: navbarFragment}"></nav>
hello everyone admin page
    <table>
        <thead>

        </thead>
        <tbody>

        </tbody>
    </table>
</body>

</div>
</html>