<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<nav th:replace="~{mysite/admin/common/header :: adminHead}"></nav>
<nav th:replace="~{mysite/admin/common/navbar :: navbarFragment}"></nav>




<script>
    function goBack() {
        window.history.back();
    }
    $(document).ready( function() {
        $("#updateBtn").click(function() {


            var loginId = $("#loginId").val();

            var resstrictYN =document.getElementById("restrict").checked;

            resstrictYN=(resstrictYN==true ? 1:0);



            var memberDTO = {
                member_id: loginId ,
                restrict : resstrictYN

            }


            console.log(memberDTO);
            var url = "/mysite/admin/rest/member/update/"+loginId;
            alert(url);

            if (window.confirm("정말 변경 하시겠습니까?")) {


                $.ajax({
                    type: "POST",
                    url: "/mysite/admin/rest/member/update/"+loginId,
                    data: JSON.stringify(memberDTO),
                    contentType: "application/json",
                    success: function(response, textStatus, xhr) {
                        if (xhr.status === 200) {
                            console.log("성공:", response);
                            alert("성공");
                            location.href ="/mysite/admin/member";
                            // 상태 코드가 200 (OK)인 경우에 처리
                        } else {
                            console.log("다른 상태 코드:", xhr.status);
                            // 다른 상태 코드에 대한 처리
                        }
                    },
                    error: function(xhr, textStatus, errorThrown) {
                        console.log("에러:", xhr.status, errorThrown);
                        alert("에러");
                        goBack();
                        // location.href = "/"
                        // 서버로 데이터 전송 중 오류 발생
                    }
                });
            }else{



            }




        })




    });


</script>


<body>


<div class="container">
    <div class="py-5 text-center">
        <h2> member details</h2>
    </div>

    <form id="signUpInfo" action="/signup" th:action th:object="${memberdetail}" method="post" >
        <div>
            <label for="loginId">회원 ID (학번)</label>
            <input type="text" id="loginId" th:field="*{member.member_id}" class="form-control" readonly="true">

        </div>


        <div>
            <label for="password">비밀번호</label>
            <input type="text" id="password"  th:field="*{member.password}" class="form-control" readonly="true">
        </div>

        <div>
            <label for="name">회원 이름 </label>
            <input type="text" id="name" th:field="*{member.member_nm}"  class="form-control" readonly="true">
        </div>

        <div>
            <label for="email">회원 이메일 </label>
            <input type="text" id="email" th:field="*{member.email}"  class="form-control" readonly="true">
        </div>

        <div>
            <label for="name">회원 소속 </label>
            <input type="text" id="party" th:field="*{member.party}"  class="form-control" readonly="true">
        </div>

        <div style="margin-bottom: 20px;">
            <label for="phone">전화번호</label>
            <input type="text" id="phone" th:field="*{member.phone_num}"  class="form-control" readonly="true">
        </div>

        <div style="margin-bottom: 20px;">
            <label for="restrict" >제한 여부</label>
            <input type="checkbox" id="restrict" th:checked="*{member.restrict==1}" >
        </div>

        <div class="table-container ">
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>수업명</th>
                    <th>개설학기</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="classCode, rowNumber : ${memberdetail.classCodes}">

                    <td th:text="${rowNumber.count}"></td>

                    <td th:text="${classCode.class_nm}"></td>
                    <td th:text="${classCode.class_ymd}">[개설학기 데이터]</td>
<!--                    <td>-->
<!--                        <div class="form-check">-->
<!--                            <input class="form-check-input"-->
<!--                                   type="checkbox"-->
<!--                                   th:checked="${classCode.registerClassYN}"-->
<!--                                   th:if="${classCode.registerClassYN}">-->
<!--                            <input class="form-check-input"-->
<!--                                   type="checkbox"-->
<!--                                   th:if="${!classCode.registerClassYN}">-->
<!--                        </div>-->
<!--                    </td>-->
                    <td style="display: none;" th:text="${classCode.class_id}"/>

                </tr>
                </tbody>
            </table>
        </div>

        <hr class="my-4">
        <div class="row">
            <div class="col">
                <button id="updateBtn" class="w-100 btn btn-primary btn-lg" type="button">
                    수정</button>
            </div>

            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        th:onclick="goBack()"
                        type="button">취소</button>
            </div>

        </div>

    </form>
</div> <!-- /container -->


</body>
</html>